@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

/* nav related styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    align-items: center;

}

.nav-title {
    font-weight: 800px;
    font-size: 45px;

}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: rgb(45, 59, 73);
}

.btn-primary {
    border: 0px;
    border-radius: 3px;
    background-color: #FD6E0A;
    width: 150px;
    height: 60px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}